@use "./colors" as c;

$radial-gradient-1: radial-gradient(1200px 600px at 10% -10%, c.$purple-2, transparent 60%);
$radial-gradient-2: radial-gradient(800px 400px at 90% -20%, c.$gold-15, transparent 60%);
$linear-gradient-1: linear-gradient(180deg, c.$bg, c.$bg-2);

@mixin gradient-bg {
    background: $radial-gradient-1, $radial-gradient-2, $linear-gradient-1;
}
