// Espaçamentos (Paddings e Margins) baseados em múltiplos de 4px, convertidos para rem

// Valores múltiplos de 4px
$spacing-0: 0;
$spacing-1: 0.25rem;     // 4px
$spacing-125: 0.375rem;  // 6px
$spacing-2: 0.5rem;      // 8px
$spacing-3: 0.75rem;     // 12px
$spacing-4: 1rem;        // 16px
$spacing-5: 1.25rem;     // 20px
$spacing-6: 1.5rem;      // 24px
$spacing-7: 1.75rem;     // 28px
$spacing-8: 2rem;        // 32px
$spacing-9: 2.25rem;     // 36px
$spacing-10: 2.5rem;     // 40px
$spacing-11: 2.75rem;    // 44px
$spacing-12: 3rem;       // 48px
$spacing-13: 3.25rem;    // 52px
$spacing-14: 3.5rem;     // 56px
$spacing-15: 3.75rem;    // 60px
$spacing-16: 4rem;       // 64px
$spacing-17: 4.25rem;    // 68px
$spacing-18: 4.5rem;     // 72px

// Paddings
$padding-small: $spacing-2;   // 8px
$padding-medium: $spacing-4;  // 16px
$padding-large: $spacing-6;   // 24px

// Margins
$margin-small: $spacing-2;   // 8px
$margin-medium: $spacing-4;  // 16px
$margin-large: $spacing-6;   // 24px

// Gutters (Espaçamento entre colunas ou elementos)
$gutter-small: $spacing-3;    // 12px
$gutter-medium: $spacing-5;   // 20px
$gutter-large: $spacing-7;    // 28px


@mixin spacing($property, $size) {
    @if $property == 'padding' {
        padding: $size;
    } @else if $property == 'margin' {
        margin: $size;
    } @else {
        @warn "Mixin 'spacing' only accepts 'padding' or 'margin' as the first argument.";
    }
}
